---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Mycelial Backup"
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Update Aug. 23, 2025 - This is under construction</h2>
	<p>Very under construction. Brand new in fact. If by some coincidence you are seeing this, know that there is a logn way to go before this site achieves any of its goals. But it will.</p>
	<h3>Preamble - I am not an expert, just a person with an idea. Keep this in mind always.</h3>
	<p>
		It is clear that the fight for the future is a fight for information. 
		The mycology community has a history of being pushed underground, and in todays world I hear countless tales of large 
		centralized websites, wherein this community is most abbundant, cracking down. <br> Though perhaps we should,
		it's unreasonable to ask for the abbandonment of big tech services offered by Meta, Google, etc. 
		A complete decouplement from big tech is daunting; this site itself will likely be reliant on cloudflare after all. <br>
		I am a firm believer that if you care about anything, you must keep a backup. Several backups in fact. 
		What I petition is that the mycology community must keep a <em>mycelial backup</em>, one that emmulates the natural networks we're so captivated by.
		Vast, spread out, and communal. <br>
		In the event that someday the corporate crackdowns on mycology knowledge and communities - both of which are too dear to lose - should be come untenable,
		it is my hope that through efforts like Mycelial Backup there will exist a decentralized and community owned infrastructure for us to fall back on. <br>
		I hope we may never have to use it.
	</p>
	<br>
	<h3>This Website's Purpose</h3>
	<p>
		Is several-fold. My priorities, in order:
	</p>
	<ul>
		<li>
			To provide ideas & resources, from a laymans perspective, on how you can start decoupling your community from big tech. <br>
			If I can make this website, so can you.
		</li>
		<li>
			To aggregate a list of likeminded mycology websites, organizations, and people, so that this effort does not exist in a vacuum. <br>
			The goal is not for you to stay on this website, but to easily navigate to other websites with more specific expertise when needed.
		</li>
		<li>
			To share my own mycological knowledge. <br> 
			It may not be the most complete, nor only encompass best practices, but I've spent a lot of trial and error figuring some things out; <br>
			I hope to somebody that may be useful.
		</li>
	</ul>
</BaseLayout>
