---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Mycelial Backup - Resources"
---

<BaseLayout>
    <p>
        Long term the idea is to integrate pages CMS for most of these categories. <br>
        still up in the air is the best way to display them; will this page be full of lists or
        alternatively should each category of resource have its own display page linking to individual entries?
    </p>
    <h2>General File Backups</h2>
    <p>
        As a starting point, you should have backups of any files that are important to you, mycology or not. There's a lot of resources 
        out there on how to keep good backups (look up the 3-2-1 backup strategy). At some point in the future we may host our own backup guides,
        but for now just some general recommendations for useful backup tools (none of which have any affiliation with Mycelial Backup). <br>
        You are in charge of your backups, not me. While I've had good luck with some of these tools, I make no guaruntee they will perfectly
        preserve all of your data, only that if used with thought and a good strategy they may be very helpful.
    </p>
    <h3>Drives</h3>
    <p>
        Hard drives come in two main flavors, HDD and SSD. HDDs are slower but may have longer lifespans, SSDs are real quick but may not live quite as long.
        That speed also costs more, but it can be really nice for backing up lots of data (such as your entire computer).
        It's best to do research based on your specific needs, some unnafiliated brands I've personally had luck with are:
    </p>
    <ul>
        <li>Crucial - the X9 and X10 drives are teeny and well regarded in my industry</li>
        <li>OWC - often a bit pricey but their drives have a stellar reputation</li>
        <li>
            Sandisk - Very well known in the consumer space, has been around for ages. Their drives aren't always 
            top of the line, nor the best value, but they're perfectly decent. 
        </li>
    </ul>
    <p>
        This is by no means exhaustive; nowadays there's probably hundreds of companies making affordable and reliable drives. Check reviews on 
        reddit, trustpilot, etc. And remember, even the best drives can, and someday will, fail.
    </p>
    <h2>Web Development</h2>
    <ul>
        <h3>Mycelial Backup Guides</h3>
        <li>placeholder for MB webdev guides</li>
        <h3>External Guides</h3>
        <li>
            placeholder for external guides
        </li>
    </ul>
    <h2>Cultivation</h2>
    <h2>Community Spaces</h2>
    <h2>General Mycology</h2>
</BaseLayout>