---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Mycelial Backup - Resources"
---

<BaseLayout>
    <p>
        Long term the idea is to integrate pages CMS for most of these categories. <br>
        still up in the air is the best way to display them; will this page be full of lists or
        alternatively should each category of resource have its own display page linking to individual entries?
    </p>
    <h2>Web Development</h2>
    <ul>
        <h3>Mycelial Backup Guides</h3>
        <li>placeholder for MB webdev guides</li>
        <h3>External Guides</h3>
        <li>
            placeholder for external guides
        </li>
    </ul>
    <h2>Cultivation</h2>
    <h2>Community Spaces</h2>
    <h2>General Mycology</h2>
</BaseLayout>