---
import MainNavigation from "./MainNavigation.astro";
---
<header style="background: turquoise; padding: 1rem 0.5rem;">
    <h3>Mycelial Backup is under construction.</h3>
    <p>I am dedicating my free time to this, and it's quite a bit of work. Please keep this in mind if you encounter typos, incomplete pages, or general wonkiness :)</p>
    <nav>
        <MainNavigation />
    </nav>
</header>